body{
    height: 100vh;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */

}

header{
    display: flex;
}

h1{
    background-color: white;
}

form{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

input{
    width: 300px;
    padding: 10px;
}



